<h1> Forgot Your Password? </h1>

<%= form_with url: password_reset_path, data: {turbo: false} do |form| %>

  <div class="mb-4">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.submit "Send Password Reset Email", class: "btn btn-primary" %>
  </div>
<% end %>